
.ipynb_checkpoints/
*.pyc
# Jupyter
*.db
# OS files
data/netkeiba/
.vscode/
# Raw / Heavy data
data/raw/
.idea/
logs/
Thumbs.db
# SQLite DB
__pycache__/
# PyCharm / VSCode
.DS_Store
# Python cache
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.html
